<div class="comments">
  <% comments.each do |comment| %>
    <div class="d-flex justify-content-between align-items-center">
      <p><%= comment.author.name %> : <%= comment.text %></p>
      <% if can? :delete, comment %>
        <%= button_to "Delete", user_post_comment_path(comment.author, comment.post, comment),
                      method: :delete, class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    </div>
  <% end %>
</div>