/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
  background-color: #eee;
}

.user_header {
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin: 4px;
  border-radius: 8px;
  border: 1px solid #71c9ce;
  justify-content: space-between;

  &_name {
    text-decoration: none;
    font-weight: bold;
    font-size: 23px;
    color: #2e898e;
    transition: all ease-in-out 0.3s;

    &:hover {
      text-decoration: underline;
      transform: scale(1.05);
    }
  }

  &_photo {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: fill;
    margin-right: 20px;
  }

  p {
    align-self: flex-end;
    margin-bottom: 8px;
    text-align: right;
  }
}

.post_sum {
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #71c9ce;

  h4 {
    font-weight: bold;
    margin-bottom: 8px;

    a {
      text-decoration: none;
      color: #2e898e;
    }
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .interactions {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: right;
    justify-content: flex-end;
  }
}

.comments {
  padding: 8px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #71c9ce;
}

.post {
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      align-items: center;
    }
  }
}

span {
  color: dodgerblue;
}

.bio {
  padding: 8px 16px;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid #71c9ce;

  h4 {
    font-size: 18px;
    color: #2e898e;
  }
}

.all_posts {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  background-color: #2e898e;
  color: white;
  outline: none;
  border: none;

  &:hover {
    text-decoration: none;
    color: white;
  }
}
